* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 500px;
}
.main_foto {
  height: 600px;
  border: solid black 10px;
}
.sun {
  position: absolute;
  top: -10%;
  animation-name: sun;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 250px;
  height: 250px;
}
@keyframes sun {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.tree {
  position: absolute;
  width: 150px;
  height: 150px;
  animation-name: tree;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes tree {
  0% {
    right: 0%;
  }
  100% {
    right: calc(100% - 150px);
  }
}

.Luigi {
  position: absolute;
  bottom: -8%;
  animation-name: Luigi;
  animation-duration: 10s;
  animation-timing-function: initial;
  animation-iteration-count: infinite;
  z-index: 1;
}
@keyframes Luigi {
  0% {
    left: 70%;
  }

  50% {
    left: 50%;
  }
  100% {
    left: calc(100% - 120px);
  }
}
.Mario {
  position: absolute;
  bottom: 50px;
  animation-name: Mario;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  width: 110px;
  height: 120px;
}
@keyframes Mario {
  0% {
    left: 0%;
  }
  100% {
    left: calc(100% - 110px);
  }
}
